[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
fastapi = {extras = ["all"], version = "*"}
opencv-python = "*"
pandas = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"

[scripts]
start-backend = "uvicorn backend.main:app --reload"
start-frontend = "streamlit run frontend/home.py"
